<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'main.css')}}">
    {% if title %}
    <title>HAR Annotator - {{title}}</title>
    {% else %}
    <title>HAR Annotator</title>
    {% endif %}
  </head>
  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="">LLM Annotation Tool</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
              <a class="nav-item nav-link" href="{{ url_for('logout')}}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('login')}}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('registration')}}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
      <main role="main" class="container">
        <div class="row h-100">
          <div class="col-md-20">
            {% with messages = get_flashed_messages(with_categories=true)%}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{category}}">
                            {{message}}
                        </div>
                    {% endfor%}
                {% endif%}
            {% endwith%}
            <!-- Main page content -->
            <div class = "container mt-1">
                <h1 class = "text-center"> You have completed a portion of the study.</h1>
                <form method = "POST", action = "" id = "vlm suggestions">
                    <div class = "container">
                        {{ form.hidden_tag() }}
                        <fieldset class = "row">
                            <legend class = "border-bottom"> Please complete the following survey about your annotation experience before moving on to the next section.
                            </legend>
                            <div class = "col survey-box-1">
                                {{ form.mental_demand.label(class = "form-control-label") }} 
                                {% if form.mental_demand.errors %}
                                    {{ form.mental_demand(class = "form-control form-control-lg is-invalid") }}
                                        <div class = "invalid-feedback">
                                            {% for error in form.mental_demand.errors %}
                                                <span>{{error}}</span>
                                            {% endfor %}
                                {% else %}
                                    {{ form.mental_demand()}}
                                {% endif %}
                            </div>
                            <div class = "col survey-box-2">
                                {{ form.physical_demand.label(class = "form-control-label") }} 
                                {% if form.physical_demand.errors %}
                                    {{ form.physical_demand(class = "form-control form-control-lg is-invalid") }}
                                        <div class = "invalid-feedback">
                                            {% for error in form.physical_demand.errors %}
                                                <span>{{error}}</span>
                                            {% endfor %}
                                {% else %}
                                    {{ form.physical_demand()}}
                                {% endif %}
                            </div>
                            <div class = "col survey-box-3">
                                {{ form.temporal_demand.label(class = "form-control-label") }} 
                                {% if form.temporal_demand.errors %}
                                    {{ form.temporal_demand(class = "form-control form-control-lg is-invalid") }}
                                        <div class = "invalid-feedback">
                                            {% for error in form.temporal_demand.errors %}
                                                <span>{{error}}</span>
                                            {% endfor %}
                                {% else %}
                                    {{ form.temporal_demand()}}
                                {% endif %}
                            </div>
                            <div class = "col survey-box-4">
                                {{ form.performance.label(class = "form-control-label") }} 
                                {% if form.performance.errors %}
                                    {{ form.performance(class = "form-control form-control-lg is-invalid") }}
                                        <div class = "invalid-feedback">
                                            {% for error in form.performance.errors %}
                                                <span>{{error}}</span>
                                            {% endfor %}
                                {% else %}
                                    {{ form.performance()}}
                                {% endif %}
                            </div>
                            <div class = "col survey-box-5">
                                {{ form.effort.label(class = "form-control-label font-weight-900") }} 
                                {% if form.effort.errors %}
                                    {{ form.effort(class = "form-control form-control-lg is-invalid") }}
                                        <div class = "invalid-feedback">
                                            {% for error in form.effort.errors %}
                                                <span>{{error}}</span>
                                            {% endfor %}
                                {% else %}
                                    {{ form.effort()}}
                                {% endif %}
                            </div>
                            <div class = "col survey-box-6">
                                {{ form.frustration.label(class = "form-control-label ") }} 
                                {% if form.frustration.errors %}
                                    {{ form.frustration(class = "form-control form-control-lg is-invalid") }}
                                        <div class = "invalid-feedback">
                                            {% for error in form.frustration.errors %}
                                                <span>{{error}}</span>
                                            {% endfor %}
                                {% else %}
                                    {{ form.frustration()}}
                                {% endif %}
                            </div>
                        </fieldset>
                    </div>
                    <br>
                    <div class="form-group">
                        {{form.submit(class = "btn btn-outline-info")}}
                    </div>
                </form>
                </div>
            </div>
          </div>
        </div>
      </main>
     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
