{% extends "layout.html" %} {% block content %}
<div class="content-section">
  <form method="POST" action="" autocomplete="off">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Welcome to the LLM annotation study for Human Signals Lab!</legend>
      <div class="form-group">
        {{ form.pid.label(class = "form-control-label") }} 
        {% if form.pid.errors %}
            {{ form.pid(class = "form-control form-control-lg is-invalid") }}
                <div class = "invalid-feedback">
                    {% for error in form.pid.errors %}
                        <span>{{error}}</span>
                    {% endfor %}
        {% else %}
            {{ form.pid(class = "form-control form-control-lg") }}
        {% endif %}
      </div>
    </fieldset>
    <div class="form-group">
      {{form.submit(class = "btn btn-outline-info")}}
    </div>
  </form>
</div>
{% endblock content %}
