{% extends "layout.html" %} 
{% block content %}
<h1 class = "text-left"> You have completed a portion of the study. Please call the research staff.</h1>

<p>
    You will now fill out a mobile based survey. Please call the research staff to be presented with a survey. Please complete the survey and return the phone to the experimenter. After the survey is completed,
    you will be given a 1 minute break. 
</p>
<p>
    ONLY CLICK CONTINUE ONCE YOU FINISH THE SURVEY!!
</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<form class = "text-center" method = "POST", action = "" id = "transition page">
    <div class = "form-group">
        <button type="submit" class="btn btn-primary">Continue</button>
    </div>
</form>
{% endblock content %}